# --- For-Bot-Working --------- #
#pyrogram
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.18.zip
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
